{% extends "base.html" %}

{% block title %}Departments{% endblock %}
{% block page_title %}Departments{% endblock %}
{% block page_subtitle %}Manage organizational structure{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="card-title">Departments</div>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Head</th>
                </tr>
            </thead>

            <tbody>
                {% for dept in departments %}
                <tr>
                    <td>{{ dept.name }}</td>
                    <td>{{ dept.code }}</td>
                    <td>{{ dept.head_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}